:root{
    --white:#FFFFFF !important;
    --black:#231F20 !important;/* rgb(35,31,32) */
    --grey:#C8C6C7 !important;/* rgb(200,198,199) */
    --dBlue:#0E2B57 !important;/* rgb(14,43,87) */
    --lBlue:#7898C9 !important;/* rgb(120,152,201) */
	--display-1: inline-block;
}
*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--black);
    margin: 0px;
    padding: 0px;
    font: 20px/1.5 'Nunito', sans-serif;
}



/* Header/Menu */
header{
    position: absolute;
    display: var(--display-style);
    top: 0px;
    left: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
}
header nav{
    background: transparent !important;
    display: var(--display-style);
    position: absolute;
    padding-left: 9.5%;
}
.menu .first-nav{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.menu .last-nav{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
nav ul{
    margin: 0;
    padding-top: 4em;
    display: flex;
    justify-content: space-around;
	text-align: center;
}
nav li{
	background-color: var(--dBlue);
    list-style: none;
    padding: 1em 0;
}
nav a{
    padding: 1em 6.5em;
    color: var(--white);
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s all ease;
    display: var(--display-1);
}
a{
    text-align: center;
    transition: .3s all ease
     -webkit-transition -o-transition;
    text-decoration: none;
    font-weight: bold !important;
}
nav a:hover{
    color: var(--lBlue) !important;
    text-decoration: none;
}
nav li:hover{  
    color: var(--lBlue);
    border: 3.5px solid var(--lBlue);
    border-radius: 10px;
    text-transform: uppercase;
}
#toggle{
    display: none;
}
.label{
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
    color: var(--black);
}



/* Hero Image */
.heroimage{
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 50%;
    background-size: contain;
	height: 100vh;
	opacity: .5;
}
.heroitems{
    padding-top: 3em;
    position: absolute;
    width: 100%;
    min-height: 550px;
    height: 50vh;
    text-align: center !important;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    z-index: 2;
    top: 30%;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.heroitems h1{
    font-size: 15em;
	color: var(--lBlue);
}
.heroimage:before{
    content: "";
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



/* Main */
.main-padding{
    padding: 7em 0em 7em 0em;
}
.why-bg{
    background-image: url(../images/samsara.jpg);
    height: 1000px;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.death-bg{
    background-image: url(../images/fire\ particles.gif);
    height: 1000px;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.why-us{
    float: none;
    width: 100%;
    text-align: center;
    padding-top: 13em;
    color: var(--black);
}
.why-us h2{
    font-size: 3em;
    margin-bottom: 30px;
}
.why-us p{
    font-size:1.4em;
    padding-bottom: 2em;
}
.button{
    font-size:1.4em;
    background-color: var(--dBlue);
    transition: .3s all ease;
    padding: 12px 30px;
    margin-top: 1em;
    letter-spacing: .15em;
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: var(--lBlue);
    border: 2px solid var(--lBlue);
    text-transform: uppercase;
}
.feature-bg{
    background: rgba(0,0,0,0.38);
    background-size: cover !important;
    height: 250vh;
}
.feature{
    display: var(--display-1);
    width: 100%;
    text-align: left;
    color: var(--black);
}
.feature p{
    font-size:1.4em;
    padding-bottom: 1em;
}
.rebirth-bg{
    background: rgba(0,0,0,0.38);
    background-size: cover !important;
}





/* footer */
.main-footer{
    padding: 1em 0em 2em 25em;
    margin: 0;
    border-top: solid 5px var(--lBlue);
}
.footer{
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 4em;
    padding:0;
}
.footer h4{
    color: var(--lBlue);
    text-align: center;
    width: 100%;
}
.footer p{
    color: var(--lBlue);
}
.footer p a{
    color: var(--lBlue);
}
footer .logo img{
    height: 100px;
}
footer .logo{
    width: 20%;
    float: left;
    padding:0 4em 0 4em;
}



/* Particles */
#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}



/* media query */
@media(max-width: 992px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .label{
        display: block;
        cursor: pointer;
    }
    nav ul{
        text-align: center;
        display: none;
        flex-direction: column;
        padding-top: 2.2em;
        background-color: transparent;
    }
    nav li{
        width: 100%;
        text-align: center;
        flex: auto;
        background-color: rgba(14,43,87,0.7);
        position: relative;
        top: 1em;
    }
    nav{
        opacity: 1;
    }
    #toggle:checked .menu{
        display: block;
    }
    .menu{
        display: block;
        margin: 0;
    }
    .menu .first-nav{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;            
        border-bottom-left-radius: 0px;
        
    }
    .menu .last-nav{
        border-top-right-radius: 00px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .heroitems{
        height: 100vh;
    }
    .heroitems h1{
        font-size: 40px;
    }
    .heroitems p{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .main-padding{
        padding: 2em 0;
    }
    .why-bg{
        height:150vh;
    }
    .why-us h2{
        padding: 0 0 1em 0;
        color: var(--dBlue);
        text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
    }
    .why-us p{
        padding: 0 0 3em 0;
        font-size: 1.8em;
        color: var(--dBlue);
        text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
    }
    .feature-bg{
        height: 150vh;
    }
    .feature ul{
        display: var(--display-1);
    }
    .feature li{
        padding-bottom: 2em;
    }
    .feature p{
        padding:0;
    }
    .sideleft ul{
        display: var(--display-1);
    }
    .contactform{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .serve-bg{
        height: 160vh;
    }
    .serve ul{
        display: var(--display-1);
    }
    .serve li{
        padding-bottom: 2em;
    }
    .pen-sideleft{
        padding-top: 4em;
    }
    .pac-bg{
        height: 125vh;
    }
    .pac{
        display: var(--display-1);
    }
    .pac ul{
        padding-bottom: 2em;
    }
    .pac a h3:hover{
        font-size: 2em;
    }
    .about .row-3 .pad{
        padding:2em 0 2em 0;
    }
    .footer{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .footer{
        margin-bottom: 1em;
        display: var(--display-1);
    } 
    footer .logo{
        display: none;
    }
}
@media(max-width: 480px){
    .heroitems h1{
        font-size: 30px;
    }
    .heroitems p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .page-link{
        font-size: small;
    }
    .sideleft ul{
        padding-left:0;
    }
    .serve-bg{
        height: 250vh;
        padding-bottom: 4em;
    }
    .serve ul{
        display: var(--display-1);
    }
    .serve li{
        padding-bottom: 2em;
    }
    .pen-container{
        display: var(--display-1);
        float: left;
        padding-bottom:50px;
        padding-left: 0;
    }
    .pen-sideleft img{
        width: 250px;
    }
    .pac-bg{
        height: 200vh;
        padding-bottom: 4em;
    }
    .pac{
        padding: 1em;
    }
    .pac ul{
        display: var(--display-1);
    }
    .pac li{
        padding-bottom: 2em;
    }
    .about .button{
        font-size: 12px;
        padding: 12px;
    }
}